RewriteEngine On
RewriteBase /

# Prevent direct access to files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to index.php
RewriteRule ^(.*)$ /index.php [L]
